@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";

html, body, .container-fluid, .row, .map { height: 100% }

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

//.container-full {
//  margin: 0 auto;
//  width: 100%;
//}

#map {
  width: 100%;
  height: 100%;
  height: calc(100% - 0px);
}

.loc_marker {
  font-family: $font-family-base;
  color: #232426;
}

#title {
  margin-bottom: 0.7em;
}

h3 {
  margin-bottom: 0.7em;
}
