---
title: Flood Plain Projector
---
<div class='container-fluid'>
  <div class='row'>
    <div class="col-md-3">
      <h2 id="title">Flood Plain Projector</h2>
      <div class='row'>
        <div class='col-md-12'>
          <p>Use Flood Plain Projector to figure out if your fishery is in a location that is susceptible to flooding.</p>
          <p>Choose the number of years from the current year to project. You will be shown the height above sea level for the chosen number of years.</p>
        </div>
      </div>
      <h3>Fishery Sea Level</h3>
          <div class="btn-group-vertical btn-group-block col-md-12" role="group" aria-label="Projection Data">
            <button type="button" class="btn projection-date btn-default" data-value="5">At 5 Years</button>
            <button type="button" class="btn projection-date btn-default" data-value="10">At 10 Years</button>
            <button type="button" class="btn projection-date btn-default" data-value="15">At 15 Years</button>
            <button type="button" class="btn projection-date btn-default" data-value="30">At 30 Years</button>
          </div>
    </div>
    <div class="col-md-9 map">
      <div class="google-map-canvas" id="map"></div>
    </div>
  </div>
</div>
<div id="legend">
  <h4>Legend</h4>
  <ul id="zone_list">
    <li><i class="fa fa-square" id="x"></i> X Zone</li>
    <li><i class="fa fa-square" id="np"></i> NP Zone</li>
    <li><i class="fa fa-square" id="ae"></i> AE Zone</li>
    <li><i class="fa fa-square" id="d"></i> D Zone</li>
    <li><i class="fa fa-square" id="ao"></i> AO Zone</li>
    <li><i class="fa fa-square" id="v"></i> V Zone</li>
    <li><i class="fa fa-square" id="a"></i> A Zone</li>
    <li><i class="fa fa-square" id="ah"></i> AH Zone</li>
    <li><i class="fa fa-square" id="a99"></i> A99 Zone</li>
    <li><i class="fa fa-square" id="ve"></i> VE Zone</li>
  </ul>
  <br>
  <p>See <a href="https://www.fema.gov/flood-zones">FEMA's site</a> for zone descriptions.</p>
</div>
